@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alata&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alata&family=Archivo+Black&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header{
  width: 100%;
  height: 875px;
  background: url('./public/images/bgHome.png');

}


header div{
display: flex;
justify-content: flex-end;
width: 90vw;
padding-top: 2rem;  
align-items: center;

}

header div ul{
  display: flex;
  justify-content: space-around;
  width: 15vw;
  
}

header div ul a{
  color: #FFF;
  text-transform: uppercase;
  font-family: 'Acme', sans-serif;  
}

header input{
  width: 125px;
  height: 24px;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  padding: 1em;
  border: none;
  outline: none;
}

header figure{
  align-items: center;
}

header h1{
  font-family: 'Acme', sans-serif;
  color: #FFF;
  text-shadow: 8px 8px 6px rgba(0, 0, 0, 0.25);
  font-size: 65px;
  line-height: 122.1%; /* 79.365px */
  letter-spacing: 9.1px;
  width: 600px;
  height: 158px;
  padding-top: 542px;
  padding-left: 2rem;
}



main{
  background:#FFF ;
  display: flex;
  justify-content:center;
  align-items: center;
  padding-top: 6rem;
}

.gift img{
  width: 665px;

}

.content{
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 6rem;
}


.content p{
  width: 767px;
  font-family: 'Alata', sans-serif;
  color: #141C24;
  text-align: center;
  font-size: 30px;
  line-height: 148.6%; 
  
}

footer {
  background-image: url("./public/images/rodape1.png");
  height: 706px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: center; /* Centraliza os itens horizontalmente */
  align-items: flex-end; /* Alinha os itens verticalmente na parte inferior */
}

footer p {
  position: relative;
  width: 649px;
  height: 21px;
  color: #FFF;
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Alata', sans-serif;
  font-size: 18px;
  text-align: center;
  padding-bottom: 1.5em;
}


@media (max-width: 780px) {

  html, body {
    overflow-x: hidden;
  }

  header div {
    display: flex;
    flex-direction: column; /* Altera a direção para coluna */
    justify-content: space-between; /* Espaçamento entre os elementos */
    align-items: center; /* Alinha os itens à esquerda */
    width: 90vw;
    padding-top: 2rem;
  }
  
  header div ul {
    display: flex;
    width: 100%; /* Ocupa a largura total da div */
    justify-content: space-around;
    padding: 0; /* Remove o espaçamento padrão */
    margin: 0; /* Remove as margens padrão */
  }

  header div ul a{
    justify-content: space-between;
    padding-left: 1rem;
  }
  
  header input {
    flex-grow: 1; /* Ocupa o espaço restante na largura */
    height: 24px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    padding: 1em;
    border: none;
    outline: none;
    margin-top: 1rem; /* Adiciona espaçamento entre o input e a imagem */
  }
  
  header figure {
    display: none;
  }

  header h1 {
    font-size: 26px;
    line-height: 1.2;
    padding: 150px 1rem 0; /* Ajuste do espaço superior e espaçamento lateral */
    text-align: center;
    box-sizing: border-box;
    width: 100%; /* Defina a largura máxima do título */
    word-wrap: break-word; /* Quebrar palavras em várias linhas */
  }

  main {
    padding-top: 2rem; /* Espaçamento superior reduzido ainda mais para dispositivos móveis */
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1em;
  }



  .gift img {
    width: 100%;
    height: auto;
  }

  .content p {
    font-size: 18px; /* Tamanho da fonte reduzido para dispositivos móveis */
    line-height: 1.4;
    width: 90%;
  }

  footer {
    background-image: url("./public/images/rodape1.png");
    background-size: contain; /* Ajusta a imagem para cobrir todo o espaço do footer */
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  footer p {
    font-size: 14px;
    padding-top: 10em;
    color: #FFF;
    text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Alata', sans-serif;
    text-align: center;
    word-wrap: break-word; /* Quebra as palavras em várias linhas */
    max-width: 80%;
  }
}